<% if element.avatar.attached? %>
    <div class="d-flex chat-nav-pill">
        <%= cl_image_tag element.avatar.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
        <div class="chat-nav-info">
            <h6><%= element.first_name %></h6>
            <p><%= event.title %></p>
        </div>
    </div>
<% else %>
    <div class="d-flex chat-nav-pill">
        <div class="no-image-avatar-small d-flex align-items-center justify-content-center">
            <p id="no-image-avatar-small-p"><%= element.first_name[0].upcase %></p>
        </div>
        <div class="chat-nav-info">
            <h6><%= element.first_name %></h6>
            <p><%= event.title %></p>
        </div>
    </div>
<% end %>