<div class="page-container">
    <div class="main-title">
        <h1>CHATS</h1>
    </div>

    <div class="chat-grid">
        <%= render 'shared/chats/sidebar_chat', chats: @chats %>

        <div>
            <div class="chat-window">
                <div>
                    <h5><%= @chat.title %></h5>
                    <% if @chat.owner == current_user %>
                        <%= render 'shared/avatars/avatar_chat', element: @chat.user %>
                    <% else %>
                        <%= render 'shared/avatars/avatar_chat', element: @chat.owner %>
                    <% end %>
                </div>

                <div id="messages" class="chat-window-messages " data-chatroom-id="<%= @chat.id %>" data-currentuser="<%= current_user.id %>">
                    <% @chat.messages.each do |message| %>
                          <%= render 'shared/chats/message', message: message %>
                    <% end %>
                </div>

                <%= render 'shared/chats/chatroom', chat: @chat %>

            </div>
        </div>

    </div>
</div>
