<%= render 'activities/show/banner', activity: @activity %>

<%= render partial: 'activities/show/event_activities',
    locals: {
        title: 'UPCOMING HIKING EVENTS',
        activity: @activity,
        events: @activity.upcoming_events
    }
%>

<%= render partial: 'activities/show/location_activities',
    locals: {
        activity: @activity,
        location: @activity.activity_locations
    }
%>

<div class="mb-5"></div>

<div class="container__featured py-4">
    <div class="featured-title-home">
        <h2>ALL <%= @activity.title.upcase %> EVENTS</h2>
    </div>
    <%= render partial: 'shared/events/grouped_events_all', 
        locals: { 
            events: @activity.events,
            class_type: "reminder-card-text-image-stack"
        }
    %>
</div>