<div class="approval-row align-items-center space-between">

    <!-- REQUESTER -->
    <div class="table-header approval-header-sm"><p>Requester</p></div>
    <div class="d-flex align-items-center approval-user">
        
        <% if element.user.avatar.present? %>
            <%= cl_image_tag element.user.avatar, class: "avatar" %>
        <% else %>
            <div class="no-image-avatar-small d-flex align-items-center justify-content-center">
                <p id="no-image-avatar-small-p"><%= element.user.first_name[0].upcase %></p>
            </div>
        <% end %>

        <p class="mb-0 pl-2 display__itinerary"><%= element.user.first_name %> <%= element.user.last_name %></p>
    </div>

    <!-- EVENT NAME -->
    <div class="table-header approval-header-sm"><p>Event</p></div>
    <div class="">
        <div>
            <h5 class=""><%= element.event.title %></h5>
            <p class="display__itinerary"><%= element.event.start_date.strftime("%d %b %Y") %></p>
        </div>
    </div>

    <!-- EVENT REQUEST DATE -->
    <div class="table-header approval-header-sm"><p>Requested Date</p></div>

    <div class="display__itinerary">
        <p><%= element.event.created_at.strftime("%d %b %Y") %></p>
    </div>


    <!-- STATUS -->
    <div class="table-header approval-header-sm"><p>Status</p></div>
    <div class="display__itinerary">
        <p><%= element.status %></p>
    </div>

<% if policy(element).update? %>
    <!-- EXPANDABLE BUTTON -->
    <div class="expand-btn">
        <%= link_to event_event_registration_path(element), method: :patch %>
        <a data-toggle="collapse" href="#collapseReview<%= element.id %>" role="button" aria-expanded="false" aria-controls="collapseReview<%= element.id %>"><span class="btn btn-outlined">Expand</span></a>
    </div>
</div>
<!-- HIDDEN FORM -->
<div id="collapseReview<%= element.id %>" class=" collapse">
    <div class="text-center">
        <%= simple_form_for [element.event, element] do |f|  %>
            <%= f.input :status,
                collection: EventRegistration.statuses.keys,
                label_html: { class: "form-title mt-3 text-center custom-control custom-switch" },
                valid_class: '',
                label: "Approve the request"
                %>
            <div class="data-content-cell-small text-center">
                <%= f.submit "Save", class: "btn btn-outlined", method: :patch %>
            </div>
        <% end %>
    </div>
</div>
<% end %>
