<div class="approval-row align-items-center space-between">

    <!-- REQUESTER -->
    <div class="table-header approval-header-sm"><p>Requester</p></div>
    <div class="d-flex align-items-center approval-user">
        
        <% if element.user.avatar.attached? %>
            <%= cl_image_tag element.user.avatar.key, height: 100, width: 100, crop: :fill, class: "avatar" %>
        <% else %>
            <div class="no-image-avatar-small d-flex align-items-center justify-content-center">
                <p id="no-image-avatar-small-p"><%= element.user.first_name ? element.user.first_name.capitalize : 'M' %></p>
            </div>
        <% end %>

        <p class="mb-0 pl-2 display__itinerary"><%= element.user.full_name %></p>
    </div>

    <!-- EVENT NAME -->
    <div class="table-header approval-header-sm"><p>Event</p></div>
    <div class="">
        <div>
            <h5 class=""><%= element.event.title %></h5>
            <p class="display__itinerary"><%= element.event.start_date.strftime("%d %b %Y") %></p>
        </div>
    </div>

    <!-- EVENT REQUEST DATE -->
    <div class="table-header approval-header-sm"><p>Requested Date</p></div>

    <div class="display__itinerary">
        <p><%= element.event.created_at.strftime("%d %b %Y") %></p>
    </div>


    <!-- STATUS -->
    <div class="table-header approval-header-sm"><p>Status</p></div>
    <div class="display__itinerary">
        <p class="js-approval-transition"><%= element.status.capitalize %></p>
    </div>

    <% if policy(element).update? %>
    <!-- EXPANDABLE BUTTON -->
    <div class="expand-btn d-flex justify-content-center">
        <% if element.pending? %>
            <%= link_to "DECLINE", event_registration_path(element, event_registration: { status: :cancelled}), class: "btn btn-outlined", method: :patch, remote: true %>
            <%= link_to "APPROVE", event_registration_path(element, event_registration: { status: :approved}), class: "btn btn-filled ml-1", method: :patch, remote: true %>
        <% else %>
            <%= link_to element.btn_opp_status, event_registration_path(element, event_registration: { status: element.btn_opp_symbol }), class: "btn btn-outlined", method: :patch, remote: true %>
        <% end %>
    </div>
    <% end %>
</div>

